.wrapper{
    width: 960px;
     margin: 0 auto;
}
.header{
    height: 100px;
    border: 1px solid black;
}
.content:after {
    clear: both;
    display: table;
    content: ""  
}
.personalInfo{
    float: left;
    border: 1px solid black;
    width: 300px;
    padding: 5px;
}
.projectsList{
    float: right;
    border: 1px solid black;
    width:  630px;
}

.projectsList:after {
    clear: both;
    display: table;
    content: ""
}

.project{
    border: 1px solid black;
    float: left;
    padding: 15px;
}
img{
    height: 200px;
    width: 280px;
}

.footer{
    clear: both;
    display: table;
    content: ""
}
.request{
    border: 1px solid black;
    float: left;
    padding: 10px;
}