
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.wrapper{
  width: 960px;
  margin: 0 auto;
}
#contractorPic {
  height: 200px;
  width: 300px;
}
.generalDetails {
    float: left;
    border: 1px solid black;
    padding: 10px
}
.skills {
  float: left;
  border: 1px solid black;
  padding: 10px;
}
.personalDetails {
  clear: both;
  border: 1px solid black;
  padding: 10px;
}
.reviews {
  clear: both;
  border: 1px solid black;
  padding: 10px;
}
