*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    align-content: space-around;
	font:14px/1.5 Arial, Helvetica, sans-serif;
	margin:0;
}


header {
    
    
background: linear-gradient(darkcyan, black);    
}

header a{
    color:#fff;
    text-decoration: none;
    display: inline-block;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background: linear-gradient(gray, white);

}

ul li a.active{
    background-color: linear-gradient(darkcyan,azure);
    pointer-events: none;
}

ul li a:hover {
    opacity: 1;
}


ul li{
    display: inline-block;
}